textview {
	font-family: monospace;
}

.main-toolbar button {
	padding: 6px;
}

.histo-shade {
	background-image: -gtk-gradient (linear,
								left top, right top,
								from (black),
								to (shade (white, 0.95)));
}

#histoToolRed label {
	font-weight: bold;
	color: red;
}

#histoToolGreen label {
	font-weight: bold;
	color: green;
}

#histoToolBlue label {
	font-weight: bold;
	color: blue;
}
