textview {
	font-family: monospace;
}

toolbar {
	background-color: transparent;
}

.main-toolbar button {
	padding: 6px;
}

scrollbar slider {
	/* Size of the slider */
	min-width: 12px;
	min-height: 12px;
	border-radius: 15px;
	/* Padding around the slider */
	border: 1px solid #606307;
}