GtkTextView {
	font: monospace;
}

.histo-shade {
	background-image: -gtk-gradient (linear,
								left top, right top,
								from (black),
								to (shade (white, 0.95)));
}

#neg_button, #mirrorx_button, #mirrory_button, #colormap_button, #seqlist_button {
	-GtkButton-default-border: 0;
	-GtkButton-default-outside-border: 0;
	-GtkButton-inner-border: 0;
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-focus-padding: 0;
	padding: 0;
}

#histoToolGreen {
	color: green;
}

#histoToolBlue {
	color: blue;
}