toolbar {
   background-color: transparent;
}

.small-spinbutton button,
.small-spinbutton entry {
   padding: 0px 3px;
}

.main-toolbar button {
   padding: 6px;
}

.small-button button {
   padding: 0;
   outline-width: 0;
}

.label-info {
   color: #ff0000;
}