GtkTextView {
	font: monospace;
}

GtkToolBar {
	background-color: transparent;
}

#neg_button, #mirrorx_button, #mirrory_button, #colormap_button, #seqlist_button {
	-GtkButton-default-border: 0;
	-GtkButton-default-outside-border: 0;
	-GtkButton-inner-border: 0;
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-focus-padding: 0;
	padding: 0;
}