[submodule "build/flatpak/shared-modules"]
	path = build/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "subprojects/librtprocess"]
	path = subprojects/librtprocess
	url = https://github.com/CarVac/librtprocess.git
