id ICON "siril.ico" 

1 VERSIONINFO
FILEVERSION     0,9,6,0
PRODUCTVERSION  0,9,6,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Partha Builds"
      VALUE "FileDescription", "Partha SiriL Build"
      VALUE "FileVersion", "0.9.6"
      VALUE "InternalName", "siril"
      VALUE "LegalCopyright", "Copyright © 2012-2017 team free-astro"
      VALUE "OriginalFilename", "siril.exe"
      VALUE "ProductName", "SiriL"
      VALUE "ProductVersion", "0.9.6"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
