1 ICON "siril.ico" 
2 ICON "text-x-seq.ico"

1 VERSIONINFO
FILEVERSION     0,9,12,0
PRODUCTVERSION  0,9,12,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Team Free-astro"
      VALUE "FileDescription", "Team Free-astro SiriL Build"
      VALUE "FileVersion", "0.9.12"
      VALUE "InternalName", "siril"
      VALUE "LegalCopyright", "Copyright © 2012-2019 team free-astro"
      VALUE "OriginalFilename", "siril.exe"
      VALUE "ProductName", "SiriL"
      VALUE "ProductVersion", "0.9.12"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
